---
title: teaching
date: 2015-08-01
author: alexis wellwood
pageable: true
per_page: 10
blog: teaching
---

<h1 class="lowercase pageheader">teaching</h1>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <h3 class="lowercase"><%= article.data.title %> <span class="date"><%= article.data.term %> <%= article.date.strftime("%Y") %>
    <% if article.data.classpage %>
    <span><%= link_to '<i class="fa fa-book"></i>'.html_safe, article.data.classpage %></span>
    <% end %>
  </span>
  </h3>
  <h5><%= article.data.institution %></h5>
  <%= article.body %>
<% end %>

<!--gets articles by date
<ul>
  <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
    <li>
      <h5><%= year %></h5>
      <ul>
        <% articles.each do |article| %>
          <li><a href="<%= article.url %>" class="lowercase"><%= article.title %></a></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
/gets articles by date-->

<!-- gets articles by tags
<ul>
  <% blog.tags.each do |tag, articles| %>
    <li>
      <h5><%= tag %></h5>
      <ul>
        <% articles.each do |article| %>
          <li><a href="<%= article.url %>" class="lowercase"><%= article.title %></a></li>
        <% end %>
      </ul>
  <% end %>
</ul>
/gets articles by tags-->

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>